
.header_nav {
  padding: 0 30px;
}

.content {
  min-height: calc(100vh - 70px - 64px);
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
  gap: 1rem;

}
.search-btn {
  position: absolute;
  top: 0;
  right: 12px;
}
.input_s {
  border-bottom: 2px solid #2296F3 !important;
  border-radius: 10px !important;
  text-indent: 12px;
}

label:not(:last-child) {
  margin-right: 1rem;
}
